<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_pointspay_required_settings">
        <observer name="pointspay_data_assign" instance="Pointspay\Pointspay\Observer\DataAssignObserver" />
    </event>
</config>
