<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Pointspay\Pointspay\FetchPaymentMethods" type="Pointspay\Pointspay\Block\System\Config\Collect">
        <arguments>
            <argument name="actionPath" xsi:type="string">pointspay/refresh/payments</argument>
            <argument name="returnPath" xsi:type="string">adminhtml/system_config/edit/section/payment</argument>
            <argument name="buttonName" translatable="true" xsi:type="string">Fetch payment methods</argument>
            <argument name="template" xsi:type="string">Pointspay_Pointspay::system/config/redirect.phtml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Pointspay\Pointspay\DownloadMerchantCertificate" type="Pointspay\Pointspay\Block\System\Config\DownloadCertificate">
        <arguments>
            <argument name="actionPath" xsi:type="string">pointspay/certificate/download</argument>
            <argument name="returnPath" xsi:type="string">adminhtml/system_config/edit/section/payment</argument>
            <argument name="buttonName" translatable="true" xsi:type="string">Download Certificate</argument>
            <argument name="template" xsi:type="string">Pointspay_Pointspay::system/config/getCertificateButton.phtml</argument>
        </arguments>
    </virtualType>
</config>
